/* Make sure page takes full height */
html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}

/* Flex container for the whole page */
.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header styles */
.myHeader {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(80, 79, 79);
  height: 100px;
  padding: 0 20px;
}

.heroContent {
  right: 70%;
  position: absolute;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 200;
  height: auto;
  color: white;
  -webkit-text-stroke: 0.5px rgb(52, 187, 52);
}
.heroContent .myH1 {
  font-size: 70px;
}

h1 a {
  cursor: pointer;
}

h1 a:visited,
h1 a:link {
  color: white;
  text-decoration: none;
}

.mainNav {
  color: white;
  -webkit-text-stroke: 0.5px rgb(52, 187, 52);
  font-size: 20px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:visited,
nav ul li a:link {
  color: white;
  -webkit-text-stroke: 0.5px rgb(52, 187, 52);
}

nav ul li a:hover {
  color: rgb(52, 187, 52);
  cursor: pointer;
}

body {
  background-color: gray;
}

.content {
  flex: 1;
}

.galleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.pics {
  background-color: white;
  padding: 10px;
  border: 5px solid rgb(196, 237, 196);
  margin-top: 20px;
  border-radius: 20px;
}
.pics img {
  width: 500px;
  height: auto;
  border-radius: 20px;
}

.pics a:visited,
a:link {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  text-decoration: none;
  color: green;
  width: 100px;
}

.iconSpan {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  color: black;
}

.iconSpan i {
  font-size: 35px;
  color: black;
}

#instagram {
  color: black;
}

.discordapp {
  color: black;
}

#email {
  color: black;
}

.footer1 {
  margin-top: 50px;
  padding: 1%;
  color: black;
  background-color: gray;
  border: 2px solid black;
  text-align: center;
}
